/* Global Styles */

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    background: linear-gradient( to right, rgba(167, 167, 209, 0.7), rgba(255, 255, 255, 0.9), rgba(178, 34, 52, 0.5));
    background-size: 100% 100%;
    overflow-y: auto;
    /* Hides the horizontal scrollbar */
    overflow-x: hidden;
}

:focus {
    outline: none;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 3px;
}

a:not(.cancel):not(.delete):hover,
a:not(.cancel):not(.delete):focus,
a:not(.cancel):not(.delete):active {
    border-radius: 25%;
    background-color: #b22234;
}

#container {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* For scroll bar */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -1.063em;
    width: 100%;
    min-height: 100%;
}

form,
#content {
    background-color: #3c3b6e;
    border: #b22234 5px solid;
}


/* login.html, reset.html, create.html, & account.py Styles */

label {
    margin-bottom: 5px;
    font-size: 1.3em;
    display: inline-block;
}

label.heading {
    text-align: center;
    font-size: 2em;
    display: block;
    margin-bottom: 20px;
}

input:not([type="submit"]),
select {
    width: 100%;
    font-size: 1.1em;
    border: 2px solid #f5f5f5;
    display: inline-block;
}

input:not([type="submit"]):hover,
select:hover,
input:not([type="submit"]):focus,
select:focus {
    border-color: #0080ff;
}

input[type="submit"],
.cancel,
.delete {
    background-color: #b22234;
    border: 2px solid #871a27;
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    cursor: pointer;
}

input[type="submit"],
.delete {
    width: 100%;
}

input[type="submit"]:hover,
.cancel:hover,
.delete:hover,
input[type="submit"]:focus,
.cancel:focus,
.delete:focus {
    opacity: 0.8;
}


/* login.html & reset.html Styles */

form[name="login"],
form[name="reset"] {
    padding: 25px;
}

form[name="login"] input[type="text"],
form[name="reset"] input[type="text"],
form[name="login"] input[type="password"],
form[name="reset"] input[type="password"] {
    padding: 15px 17px;
}

form[name="login"] input[type="text"],
form[name="reset"] input[type="text"] {
    margin-bottom: 15px;
}

form[name="login"] input[type="password"],
form[name="reset"] input[type="password"] {
    margin-bottom: 25px;
}

form[name="login"] input[type="submit"],
form[name="reset"] input[type="submit"] {
    padding: 15px;
}


/* login.html Style */

form[name="login"] .separate {
    padding: 8px;
}


/* reset.html Styles */

form[name="reset"] .cancel {
    margin-top: 10px;
    padding: 10px 18px;
}

form[name="reset"] .separate {
    padding: 8px 4px;
}


/* login.py, reset.py, create.py, donation.py, vote.py,  Styles */

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#content h1 {
    margin-top: 0;
}

#content p {
    margin: 5px 0;
}

#content a {
    margin-top: 10px;
}


/* create.html, reset.html & account.py Styles */

.row {
    display: flex;
    flex-flow: wrap;
    margin: 0 -16px;
}

.col-25 {
    flex: 25%;
}

.col-50 {
    flex: 50%;
}

.col-75 {
    flex: 75%;
}

.col-25,
.col-50,
.col-75 {
    padding: 0 16px;
}

form[name="signup"],
form[name="update"] {
    padding: 15px;
    width: 90%;
    font-size: 0.8em;
}

form[name="signup"] input:not([type="submit"]),
form[name="update"] input:not([type="submit"]),
select {
    padding: 10px 12px;
}

form[name="signup"] input,
form[name="update"] input,
select,
.delete {
    margin: 10px 0;
}

form[name="signup"] input[type="submit"],
form[name="update"] input[type="submit"],
.delete {
    padding: 10px;
}

select {
    cursor: pointer;
}

.delete,
.cancel {
    text-align: center;
    display: inline-block;
}

form[name="signup"] .cancel,
form[name="update"] .cancel {
    padding: 5px 9px;
}

form[name="signup"] .separate,
form[name="update"] .separate {
    padding: 4px;
}


/* Media Queries */